.navbar{
    background-color: #ff6917;
}

.heading{
    font-family: 'Lobster Two', cursive;
    font-size: 1.5rem;
}

.navButton{
    font-family: 'Playfair Display', serif;
}
.button{
    font-family: 'Playfair Display', serif;
    color: #ffe494;
}