.navbar{
    background-color: #ff6917;
}

.heading{
    font-family: 'Lobster Two', cursive;
    font-size: 1.5rem;
}

.navButton{
    font-family: 'Playfair Display', serif;
}
.button{
    font-family: 'Playfair Display', serif;
    color: #ffe494;
}

.searchForm{
    margin-right: 30px;
}

@media screen and (max-width: 995px) {

    .rightSideNav{
        flex-direction: column;
    }

    .searchForm{
        margin: 5px 0px 20px 0px;
    }

}