.heading{
    font-family: 'Lobster Two', cursive;
    /* font-size: rem; */
    color: maroon;
}

.button{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.button:hover{
    color: white;   
}

.signupImage{
    height: 500px;
    margin-left: 100px;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;

}

.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 500px;
}


@media screen and (max-width: 995px) {
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    .signupForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        width: 80vw;
        height: auto;
    }

    .signupImage{
        height: 40vh;
        margin: auto;
    }

    .heading{
        font-family: 'Lobster Two', cursive;
        /* font-size: rem; */
        color: maroon;
        margin-top: 50px;
    }
}